{% extends 'icecream/base.html' %}
{% load static %}
{% block content %}


    <h1>{{heading}}</h1>
    {% if ice_cream_list %}
<!-- find way to seperate ul so each category has ul, daily, weekly seasonal -->
    <ul>
    {% for ice_cream in ice_cream_list %}
    <!-- each list item should say the flavor, base, date churned, featured -->
      <div class="jumbotron">
        <li>
          <p>{{ice_cream.flavor}}</p>
          <!-- <p>{{ice_cream.featured}}</p> -->
          {% ifequal ice_cream.featured True %}
            <p>This Is A Featured Item!</p>
          {% endifequal %}
          <p>Churned on {{ice_cream.date_churned}}</p>
        </li>
        <form action="{% url 'icecream:likes' ice_cream.id %}" method="post">
          {% csrf_token %}
          <button>{{ice_cream.likes}} Likes</button>
        </form>
        <a href="{% url 'icecream:create' %}"<p>Click here to add a flavor</p></a>
        <a href="{% url 'icecream:delete' ice_cream.id %}"<p>Click here to delete a flavor</p></a>
      </div>
      {% endfor %}
    </ul>
    {% else %}
      <p>No Ice cream available</p>
      {% endif %}
  </body>
</html>
{% endblock %}
