{% load static %}
<html>
  <head>
    <title>Ice Cream</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'icecream/styles.css'}"> -->
  </head>
  <body>
    <h1>{{heading}}</h1>
    {% if ice_cream_list %}
<!-- find way to seperate ul so each category has ul, daily, weekly seasonal -->
    <ul>
    {% for ice_cream in ice_cream_list %}
    <!-- each list item should say the flavor, base, date churned, featured -->
      <div class="jumbotron">
        <li>
          <p>{{ice_cream.flavor}}</p>
          <!-- <p>{{ice_cream.featured}}</p> -->
          {% ifequal ice_cream.featured True %}
            <p>This Is A Featured Item!</p>
          {% endifequal %}
          <p>Churned on {{ice_cream.date_churned}}</p>
          <form action="{% url 'icecream:likes' ice_cream.id %}" method="post">
            {% csrf_token %}
            <button>{{ice_cream.likes}} Likes</button>
          </form>
        </li>
      </div>
      {% endfor %}
    </ul>
    {% else %}
      <p>No Ice cream available</p>
      {% endif %}
  </body>
</html>
